@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #407de6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 90vh;
  width: 50%;
  border-radius: 20px;
  background-color: #4c8cfc;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.app-branding {
  margin-bottom: 30px;
  font-size: 30px;
}

.app-branding img {
  width: 15%;
  height: 25%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#city {
  padding: 5px;
  width: 40%;
}

#search-city {
  padding: 5px;
}

.choose-city {
  margin-top: 20px;
}

#city-container {
  margin-top: 30px;
  font-size: 50px;
  display: flex;
  align-items: center;
}

#weather-container {
  margin-top: 50px;
  font-size: 100px;
}

#flag-container {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

#addition-data {
  margin-top: 30px;
}

.toggle, .toggle-2 { 
  position : relative ; 
  display : inline-block; 
  width : 100px; 
  height : 52px; 
  background-color: #407de6; 
  border-radius: 30px; 
  border: 2px solid gray; 
  display: flex;
  align-items: center;
  justify-content: space-around;
} 

.toggle:after { 
  content: ''; 
  position: absolute; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: gray; 
  top: 1px;  
  left: 1px; 
  transition: all 0.5s; 
} 
.toggle-2:after { 
  content: ''; 
  position: absolute; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: gray; 
  top: 1px;  
  left: 1px; 
  transition: all 0.5s; 
} 
      
p { 
  font-weight: bold; 
  font-size: 30px;
} 

.checkbox:checked + .toggle::after { 
  left : 49px;  
} 

.checkbox-2:checked + .toggle-2::after { 
  left : 49px;  
}
      
.checkbox:checked + .toggle { 
  background-color: #4c8cfc; 
} 

.checkbox-2:checked + .toggle-2 { 
  background-color: #4c8cfc; 
} 

.checkbox, .checkbox-2 {  
  display : none; 
} 

.toggle-2-container, .toggle-container{
  position: relative;
  bottom: -350px;
  right: -270px;
}
